<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <title>login</title>
    <link rel="stylesheet" href="https://cdn.discordapp.com/attachments/301837753711198209/1098806139468124273/index.css">
    <style type="text/css">
      #sans1 {
        font-family: "MS Sans Serif 1";
      }
    </style>
  </head>
  <body style="      background-color: teal;">
    <div style="margin-left: 100px;">
      <div style="margin-top: 80px; position: relative;"> <img src="https://media.discordapp.net/attachments/301837753711198209/1098806605300125736/win98taskrosa.png?width=657&height=573"

          alt="titulo de app" style="width: 330px; height: 300px; ">
        <div style="position: absolute; top: 5px; left: 5px; margin-top: -1px;"

          id="sans1"><span style="color: white;"><strong>&nbsp;ADMIN LOG</strong></span>.
        </div>
        <div style="position: absolute; top: 30px; left: 30px; height: 275px;" id="sans1">
          <h1><strong>Hola <%= name %> </strong></h1>
          <div style="text-align: center;">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; </div>
          <form action="/logout?_method=DELETE" method="POST"> <button type="submit"

              style="background-image: url(&quot;../views/resources/win98botton&quot;);"

              id="sans1">Cerrar Sesion</button> </form>
          <form action="/pdf" method="GET">
            <div>&nbsp;</div>
            <button type="submit" style="background-image: url(&quot;../views/resources/win98botton&quot;);"

              id="sans1">Generar Log</button> </form>
        </div>
      </div>
    </div>
    <div style="margin-left: 400px;">
      <div style="margin-top: 80px; position: relative;"> <img src="https://media.discordapp.net/attachments/301837753711198209/1098806914651005038/win98taskVIDEOPink.png"

          alt="titulo de app" style="width: 684px; height: 451px;">
        <div style="position: absolute; top: 5px; left: 5px; margin-top: 4px;" id="sans1"><span

            style="color: white;"><strong>&nbsp;BOCCHI.ASCII.VIDEO</strong></span>.
        </div>
        <div style="position: absolute; top: 35px; left: 24px; height: 275px;" id="sans1">
          <h1><strong><img src="https://media.discordapp.net/attachments/301837753711198209/1098807236056326144/bocchi.gif" alt="jif"

                style="top: 21px; left: -22px; width: 638px; height: 367px;"></strong></h1>
        </div>
      </div>
    </div>
  </body>
</html>
